name: "Release"
on:
  push:
    branches:
      - master

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  # https://docs.github.com/en/actions/guides/publishing-nodejs-packages#publishing-packages-using-yarn
  # https://github.com/semantic-release/semantic-release/blob/master/docs/recipes/github-actions.md
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: corepack enable
      - run: yarn install
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
